Insurerer/server/src/main/java/edu/avans/ivh5/server/resources/Accounts.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="accounts" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="account" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="username"/>
                            <xs:element type="xs:string" name="password"/>
                            <xs:element type="xs:string" name="accountType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>