Insurerer/server/src/main/java/edu/avans/ivh5/server/resources/InsuranceCompanies.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="companies">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="company" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="city"/>
              <xs:element type="xs:string" name="postcode"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:string" name="KVK"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>