Insurerer/server/src/main/java/edu/avans/ivh5/server/resources/InsuranceContracts.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="contracts">
    <xs:annotation>
      <xs:documentation>To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="contract" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="ownRisk"/>
              <xs:element type="xs:string" name="clientName"/>
              <xs:element type="xs:byte" name="insuranceID"/>
              <xs:element type="xs:string" name="startDate"/>
              <xs:element type="xs:string" name="endDate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>