Insurerer/server/src/main/java/edu/avans/ivh5/server/resources/InsuranceContracts.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="contracts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="contract" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BSN"/>
              <xs:element type="xs:string" name="clientName"/>
              <xs:element type="xs:decimal" name="ownRisk"/>
              <xs:element type="xs:integer" name="insuranceID"/>
              <xs:element type="xs:date" name="startDate"/>
              <xs:element type="xs:date" name="endDate"/>
              <xs:element name="coveredTreatments">
                  <xs:complexType>
                      <xs:sequence>
                          <xs:element type="xs:string" name="coveredTreatment" maxOccurs="unbounded" minOccurs="0"/>
                      </xs:sequence>
                  </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>