Insurerer/server/src/main/java/edu/avans/ivh5/server/resources/Insurances.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insurances">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="insurance" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="ID"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:decimal" name="price"/>
              <xs:element type="xs:integer" name="sessionsReimbursed"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>