Insurerer/server/src/main/java/edu/avans/ivh5/server/resources/TreatmentCodes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="treatmentCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="treatmentCode" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="code"/>
              <xs:element type="xs:decimal" name="priceSession"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>